@layer base {
    header {
        @apply w-full h-1/6 bg-yellow-300 text-blue-700 font-bold text-xl;

        nav {
            @apply h-full;

            ul {
                @apply h-full flex items-center justify-evenly;

                a {
                    @apply box-content py-2 hover:border-b-2 hover:border-blue-700;
                }
            }

        }
    }
}